@import "./vars/vars";
@import "./fonts/fonts";
@import "./form-elements/form-elements";

/*  ----------------------------------------------------------------
/*  >>> TABLE OF CONTENTS:
/*  ----------------------------------------------------------------
/*  1. Body
/*  2. ::selection
/*  3. Buttons
/*  4. Content
/*  --------------------------------------------------------------*/

/*  ----------------------------------------------------------------
/*  1. Body
/*  --------------------------------------------------------------*/
body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  font-family: $default-font;
  font-size: $font-size;
  color: $font-color;
  background: $background;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 150%;
}

/*  --------------------------------------------------------------*/
/*  2. Selection
/*  --------------------------------------------------------------*/
*::selection {
  background: $link;
  color: $font-color;
}

/*  --------------------------------------------------------------*/
/*  3. Buttons, links
/*  --------------------------------------------------------------*/
button {
  cursor: pointer;
}

button:focus,
button:active {
  outline: none;
}

a {
  text-decoration: none;
  color: $font-color;
}
/*  --------------------------------------------------------------*/
/*  3. Content
/*  --------------------------------------------------------------*/
.container {
  width: 100%;
  padding: 32px;
}

ul {
  list-style: none;
}
