// Fonts vars
$default-font: "Lato-Regular", sans-serif;
$background: #fff;
$alter-background: #252525;
$font-color: #19191d;
$font-size: 16px;
$accent-color: #ff3f5c;
$gray-color: #cacaca;
// Link color
$link: #000000;

// Link hover color
$link-hover: #2d56d0;

// buttons Bg-colour
$btn-pink: #ff3f5c;
$btn-dark: #5b4396;
$btn-gray: #f0f0f0;
